 

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  @mixin mobile {
    @media (max-width: 600px) {
      @content;
    }
  }
  
  @mixin tablet {
    @media (max-width: 900px) {
      @content;
    }
  }
  
  @mixin neon-border($color) {
    border: 2px solid $color;
    box-shadow: 0 0 10px rgba($color, 0.7), inset 0 0 10px rgba($color, 0.4);
  }