@use "./variables" as *;
@use "./mixins" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  background: $bg;
  color: white;
  font-family: "Inter", sans-serif;
  min-height: 100vh;
}

button, input, select {
  font-family: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 1rem;
}

.section-title {
  font-size: 1.4rem;
  color: $rick-green;
  margin-bottom: 1rem;
  
}