@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.wrapper {
  margin-bottom: 1rem;
}

.label {
  color: $rick-green;
  font-size: 0.9rem;
  margin-bottom: 6px;
  display: block;
}

.input {
  width: 100%;
  padding: 12px 16px;
  background: $card-bg;
  border-radius: $radius;
  border: 2px solid $portal-blue;
  color: $text-light;
  outline: none;
  transition: $transition;

  &:focus {
    border-color: $rick-green;
    box-shadow: $glow-green;
  }
}