@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.wrapper {
  margin-bottom: 1rem;
}

.label {
  color: var(--primary);
  font-size: 0.9rem;
  margin-bottom: 6px;
  display: block;
}

.input {
  width: 100%;
  padding: 12px 16px;
  background: var(--card-bg);
  border-radius: $radius;
  border: 2px solid var(--accent);
  color: var(--text);
  outline: none;
  transition: $transition;

  &:focus {
    border-color: var(--primary);
    box-shadow: var(--glow-green);
  }
}