@use "../../styles/mixins" as *;
.grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 16px;
}

@include tablet {
  .grid {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@include mobile {
  .grid {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}

.item {
  display: contents;
}


